<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Elearning Platform</title>
        <script type="text/javascript" th:src="@{/js/addFonts.js}"></script>
        <link th:href="@{/css/main.css}" rel="stylesheet" />
    </head>
    <body>
        <nav class="navbar" th:fragment="navbar">
            <h1 class="navbar_heading">Elearning Platform</h1>
            <div class="navbar_wrapper">
                <ul class="navbar_links">
                    <li th:each="link : ${links}">
                        <a th:href="@{${link.href}}" th:text="${link.name}"></a>
                    </li>
                </ul>
                <a class="navbar_link" th:if="${role != NULL}" href="/logout">
                    LOGOUT
                </a>
            </div>
        </nav>

        <footer th:fragment="footer" class="footer">
            <div class="footer_left">
                <p>Krystian Sadowski</p>
                <p>Aleksander Bondar</p>
                <h6>ELearning Platform 2023 &copy;</h6>
            </div>
        </footer>
    </body>
</html>